# Ignorar Archivos de Sistema Operativo
# OsX
.DS_Store

# Windows
Thumbs.db
desktop.ini

# Ignorar archivos y directorios de compilación
build/
dist/
*.class
*.o
*.so
*.exe

# Ignorar dependencias de Python
__pycache__/
*.py[cod]
.Python
env/
venv/
.venv/
